<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/style.css"> @*be sure to add the tilda in front of the /css/style.css and in
        front of the image source in the html body*@
</head>

<body>
    <div class="flex">
        Home |
        <a href="/projects">Projects</a> |
        <a href="/contacts">Contact</a>
    </div>
    <h2>About Me</h2>
    <div>
        <div>
            <div>
                <img src="~/image/Billy-Madison.png">
            </div>
            <div>Placeholder for name</div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quia ipsam dolore earum, accusamus rem
            nemo reiciendis labore facere, beatae culpa placeat sint odio, eveniet aspernatur aliquid a tempora
            doloremque.</p>
    </div>



</body>

</html>