<div class="text-center">
    <div>
        <h3>Current Owners of Pets</h3>
        <a href="/pet/own">Become a owner!</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Owner person in Model)
                {
                    <tr>
                        <td><a asp-controller="Home" asp-action="Index"></a></td>
                        <td>@person.FirstName @person.LastName
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>