@model PetViewModel

<div>
    <div id="pets">
        <partial name="_PetListView" model=@Model.Pets />
    </div>
    <div id="owners">
        <partial name="_OwnerListView" model=@Model.Owners />
    </div>
</div>