@model Owner

<div>
    <header>
        <h1>Pet Owner</h1>
        <h4>Want to own one of our pets?? Sign up!</h4>
        <a asp-controller="Home" asp-action="Index">Back to home</a>
    </header>
</div>
<div>
    <form asp-controller="Home" asp-action="NewOwner" method="POST">
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
            <span asp-validation-formaction="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </div>
        <button type="submit"></button>
    </form>
</div>