<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
</head>

<body>
    <div class="left">
        <h1>Add a Book</h1>
        <form action="/addBook" method="POST">
            {% csrf_token %}
            <p>Title: <input type="text" name="title"><br></p>
            <p>Description:<input type="text" name="desc"></p>
            <button type="submit">Add Book</button>
        </form>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td><a href="{% url 'view_book' id=book.id %}">View</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="right">
        <h1>Add an Author</h1>
        <form action="/addAuthor" method="POST">
            {% csrf_token %}
            <p>First Name: <input type="text" name="first_name"><br></p>
            <p>Last Name:<input type="text" name="last_name"></p>
            <p>Notes:<textarea name="notes"></textarea></p>
            <button type="submit">Add Author</button>
        </form>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            {% for author in authors %}
            <tr>
                <td>{{author.id}}</td>
                <td>{{author.first_name}}{{author.last_name}}</td>
                <td><a href="{% url 'view_author' id=author.id %}">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>