@model User
<div class="col-6">
    <h1 class="display-4">Registration</h1>
    <div class="w-50">
        <form asp-action="Register" asp-controller="Home" method="POST">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName">
                <span style="color: red;" asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName">
                <span style="color: red;" asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email">
                <span style="color: red;" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password">
                <span style="color: red;" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input class="form-control" asp-for="ConfirmPassword">
                <span style="color: red;" asp-validation-for="ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn btn-primary">Sign up Now</button>
        </form>
    </div>
</div>
