<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aqua;
        }

        body .box {
            background-color: blue;
            display: inline-block;
            justify-content: space-between;
            height: 50px;
            width: 50px;
        }
    </style>
</head>

<body>

    {% for x in range(0, times): %}
    <p class="box" style="background-color: {{color}}">YES!</p>
    {% endfor %}


</body>

</html>