<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Job</title>
</head>

<body>
    <div class="header">
        <h3>Hello {{thisUser.first_name}} Take a look at this job!</h3>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Log Out</a>
    </div>
    <div class="container">
        <h5>{{thisJob.title}}</h5>
        <div class="box">
            <p>{{thisJob.description}}</p>
            <p>Location: {{thisJob.location}}</p>
            <p>Posted by: {{thisJob.user.first_name}}</p>
            <p>Posted On: {{thisJob.created_at}}</p>
        </div>
    </div>

</body>

</html>